# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = zhihuuser.settings

[deploy]
url = http://60.205.203.183:6800/addversion.json
project = zhihuuser
